
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 20;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


main {
    padding: 1em;
    background: #f4f4f4;
}

section {
    margin-bottom: 2em;
}


